body{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.container{
    display: flex;
    background: #000;
    width: 100vh;
    justify-content: center;
    transition: all ease-in-out .5s;
    position: relative;
}
input{
transition: all ease-in-out .5s;
width: 20%;
}
.scale{
    width:0;
    transform: scaleX(0);
button{
    transition: all ease-in-out .5s;
    
}
}
.btnn {
    
    transition: all ease-in-out .5s;
    
  }